@import "../styles/style";

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5% 80% 15%;
  background: linear-gradient(315deg, rgba(40,0,71,1) 26%, rgba(255,146,146,1) 100%);
  @include tablet {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 10% 80% 10%;
  }
}

main {
  grid-area: 2/2/3/3;
}


footer {
  grid-area: 3/1/4/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}