@import "../styles/style";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  margin: .5em;
  color: #FFF;
  width: 100%;

  &__label {
    font-size: 1em;
  }
  
  &__input {
    border: 2px solid #FCC8CF;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
    height: 2em;
    width: 80%;
    transition: all 0.3s ease;
    &:focus {
      outline: none;
      background: #FCC8CF;
      transform: scale(1.1);
    }
    @include desktop {
      width: 50%;
    }
    &--invalid {
      border: 2px solid #ff3e3e;
    }
  }


  &__button {
    margin: 1.5em .5em;
    border: 5px solid #FCC8CF;
    border-radius: 25px;
    width: 10em;
    height: 3em;
    background: transparent;
    color: #FCC8CF;
    font-size: 1em;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
      outline: none;
      color: #000;
      background: #FCC8CF;
      transform: scale(1.2);
    }
  }

  &__error-message {
    display: flex;
    color: #FFF;
    font-size: 1.2em;
    margin: .5em .5em 0 .5em;
    padding: 0 .2em;
    &:focus {
      outline: 2px solid #FCD8C8;
    }
    svg {
      margin-right: .5em;
      fill: #ff3e3e
    }
  }
}